{% extends 'layout.server.view.html' %}

{% block content %}

<form id="imageUploadForm">
    <div class="form-group">
        <label for="imageFile">File</label>
        <input type="file" id="imageFile" name="imageFile" accept="image/*" class="filestyle" data-buttonText="Find file" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="zipPassword" name="zipPassword" placeholder="패스워드를 입력해 주세요" />
    </div>
    <input type="button" class="btn btn-default" id="submit" name="submit" value="전송" />
</form>

<div class="row" id="downloadList">

</div>
<script src="/lib/javascript/jquery-2.2.3.min.js" type="text/javascript"></script>
<script src="/lib/javascript/bootstrap-filestyle.min.js" type="text/javascript"></script>
<script>
$(document).ready(function () {
    $('#submit').click(function () {

        var zipPassword = $('#zipPassword');
        var imageFile = $('#imageFile');
        var data = new FormData();
        var file = imageFile[0].files[0];
        
        if (!file) {
            alert('파일을 선택해 주세요');
            return;
        }

        if (!file.type.match(/image\//)) {
            alert('이미지만 선택해 주세요');
            return;
        }
        
        data.append('imageFile', file);
        data.append('zipPassword', zipPassword.val());

        $.ajax({
            url: '/image',
            method: 'post',
            processData: false,
            contentType: false,
            data: data,
            dataType: 'json'
        }).done(function (response) {

            if (response.status === 200) {
                var zipFilename = response.results.zipFilename;
                var filename = response.results.filename;

                var makeImageView = [];
                makeImageView.push('<div class="col-sm-6 col-md-4">');
                makeImageView.push('<div class="thumbnail">');
                makeImageView.push('<img src="/image/' + filename + '/view" alt="..."/>');
                makeImageView.push('<div class="caption">');
                makeImageView.push('<h3>' + zipFilename + '</h3>');
                makeImageView.push('<p><a class="btn btn-primary" role="button" href="/image/' + zipFilename + '">다운로드</a></p>');
                makeImageView.push('</div></div></div>');
                $('#downloadList')
                    .append(makeImageView.join(''));
            } else if (response.status === 500) {
                alert(response.err);
            }

        }).fail(function (request, status, error) {
            alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
        });

    });


});
</script>
{% endblock %}
