﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--[if lt IE 8]>
        <link href="/lib/css/bootstrap-ie7.css" rel="stylesheet">
    <![endif]-->

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/lib/css/docs.min.css" rel="stylesheet" type="text/css" />
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    
	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="ng-cloak">
	
	<section class="content">
		<section class="container">
			{% block content %}{% endblock %}
		</section>
	</section>

</body>

</html>